* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: .5rem;
    box-sizing: border-box;
    background: var(--back);
    transition: .5s ease;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100dvh;
    gap: .5rem;
}

.topbar {
    background: var(--fore);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: .25rem;
    gap: .25rem 1rem;
    border-radius: 1.25rem;
}

.topbar * {
    font-size: 1rem;
    font-weight: 600;

    color: var(--fore);
    background: var(--back);

    text-align: center;
    padding: .5rem 1rem;

    border: none;
    outline: none;
    border-radius: 1rem;
    backface-visibility: hidden;

    transition: 200ms ease;
}

.generate {
    cursor: pointer;
}

.number_input {
}

select {
}

.number_input:active, select:active, .generate:active {
    transform: scale(.95);
}

.table {
    border-radius: 1.25rem;
    background: var(--back);
    border: 3px solid var(--fore);
    padding: 1rem;
    display: flex;
    align-items: end;
    gap: 1px;
    transition: .5s ease;
}

.bar {
    height: 100%;
    width: 50%;
    max-height: 0;
    border-radius: 1rem 1rem 0 0;
    background: var(--fore);
    transition: max-height 250ms ease;
}

.bar:first-child {
    border-bottom-left-radius: .5rem;
}

.bar:last-child {
    border-bottom-right-radius: .5rem;
}
